.center{
  position: :absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.msg-group{
  position: absolute;
  max-width: 720px;
  height: 92%;
  overflow-y: scroll;
}

.card{
  /* padding: 10px 0 10px 0; */
  border-radius: 1.25rem;
  margin-bottom: 20px;
  border: 5px solid rgba(26,32,0,0.125);
  width:auto;
  background-color: #DCDCDC;
}

.input-group{
  position: absolute;
  height: 8%;
  bottom: 0;
}
.btn{
  height: 100%;
}
